.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    section {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 900px;

        img {
            width: 300px;
            border: 5px solid #00AAFF;
            border-radius: 50%;
        }

        ul {
        display: flex;
        align-items: center;
        gap: 15px;

            li {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                
            }
        }

        .interesses li {
            background-color: #D4E7D6;
            color: #278733;
            padding: 8px 12px;
            border-radius: 10px;
        }
    }
}

.div{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2{
        font-size: 16px;
        color: #278733;
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
        padding: 20px;

        section {
            flex-direction: column;
            gap: 20px;

            img {
                width: 200px;
            }

            ul {
                flex-direction: column;
                align-items: flex-start;
            }

            .interesses {
                flex-wrap: wrap !important;
            }
        }
    }

    .div {
        width: 100%;
    }
}

