.article{
    border: 1px solid red;
    max-width: 357px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2{
        font-family: "Source Sans 3", sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #122F97;
    }

    p{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #122F97;
        text-align: center;
    }

    button{
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #205691;
        color: white;
        font-family: "Source Sans 3", sans-serif;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
    }
}

.image{
    max-width: 100%;
    min-width: 0;
}